@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    font-family: 'inter';
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#entradaUsuario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#entradaUsuario>label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

#entradaUsuario>button{
    margin-top: 1rem;
}